<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/bootstrap.rtl.min.css" />

        <!-- Bootstrap Icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" />

        <!-- MyCSS -->
        <link rel="stylesheet" href="/css/style.css" />

        <!-- Favicon -->
        <link rel="shortcut icon" href="/imgs/quran.png" type="image/x-icon" />

        <title>Quran Groups</title>
    </head>

    <body>
        <%- include('../partials/flash') %> <%- body %>
        <!-- Bootstrap JS -->
        <script src="/js/bootstrap.bundle.min.js"></script>

        <!-- MyJS -->
        <script src="/js/script.js"></script>
    </body>
</html>
