<% layout('layouts/boilerplate') %>

<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="container border border-secondary border-2 py-5">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <form action="/groups" method="POST" class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="number" class="form-label">Number</label>
                        <input type="number" min="1" class="form-control" id="number" name="num" required />
                        <div class="valid-feedback">Looks Good!</div>
                        <div class="invalid-feedback">Put a number above 1</div>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                    <a class="btn btn-secondary" href="/groups" role="button">Back To Groups</a>
                </form>
            </div>
        </div>
    </div>
</div>
